/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.10.2014, 0:24:56
    Author     : Mr White
*/

.administration{
    display: inline-block;
}

.administration aside{
    width: 250px;
    float: left;
}
.administration aside button{
    display: block;
    width: 100%;
    height: 50px;
}

.administration #content-admin{
    float: left;
    width: 750px;
}
/*-----------------------------------------------------------------------------------*/
.administration #role{
   // border: 1px #2054F0 solid;   
    //display: inline-block;
    width: 93%;
    margin-left: 25px;
    //margin-right: 20px;
}

.administration #role .role-form {
    border: 1px black solid;
    display: inline-block;
    margin-bottom: 20px;
}

.administration #role .role-form .invisible{
    //display: block;
    //background: red;
    width: 30px;
    float: left;
}

.administration #role .role-form input{
    float: left;
    //display: block;
    height: 25px;
    width: 200px;
    margin-left: 5px;
    margin-top: 3px;
}
.administration #role .role-form select{
    float: left;
    //display: block;
    height: 30px;
    width: 150px;
    margin-left: 5px;
    margin-top: 3px;
}

.administration #role .role-form input.button-del{
    width: 35px;
    margin: 0;
    height: 35px;
}
.administration #role .role-form input.button-perm{
    width: 40px;
    margin: 0;
    height: 35px;
}

.administration #content-role .pagination-link{
    height: 25px;
    width: 280px;
    margin: 20px;
    font-size: 18px;
    font-weight: 700;
    float: right;
}

.administration #content-role .pagination-link a{
    text-decoration: none;
    color: blue;
}

.administration #content-role{
    width: 750px;
    float: left;
}
.administration #content-role #add-role button{
    width: 50px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
//----------------------------------------------------------------------------------------------
.administration #content-perssimisions{
    width: 750px;
    float: left;
}
.administration #content-perssimisions #add-presimision button{
    width: 50px;
    height: 30px;
    margin-top: 20px;
    margin-left: 20px;
}
.administration #perssimisions{
   // border: 1px #2054F0 solid;   
    //display: inline-block;
    width: 93%;
    margin-left: 25px;
    //margin-right: 20px;
}

.administration #perssimisions .perssimisions-form {
    border: 1px black solid;
    display: inline-block;
    margin-bottom: 20px;
}

.administration #perssimisions .perssimisions-form .invisible{
    //display: block;
    //background: red;
    width: 30px;
    float: left;
}

.administration #perssimisions .perssimisions-form input{
    float: left;
    //display: block;
    height: 30px;
    width: 200px;
    margin-left: 5px;
}

.administration #perssimisions .perssimisions-form input.button-del{
    width: 35px;
    margin: 0;
    height: 35px;
}

.administration #content-perssimisions .pagination-link{
    height: 25px;
    width: 280px;
    margin: 20px;
    font-size: 18px;
    font-weight: 700;
    float: right;
}

.administration #content-perssimisions .pagination-link a{
    text-decoration: none;
    color: blue;
}
/*-------------------------------------------------------------------------*/

.administration #users-role-list{
    //float: left;
    border: 1px blue solid;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.administration #users-role-list .users-role-check{
    //float: left;
    border: 1px red solid;
    //width: 95%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12pt;
    color: #666;
}

/*-------------------------------------------------------------------------*/
.administration #role-perssimision-list{
    //float: left;
    border: 1px blue solid;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.administration #role-perssimision-list .role-perssimision-check{
    //float: left;
    border: 1px red solid;
    //width: 95%;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12pt;
    color: #666;
}
/*-------------------------------------------------------------------------*/

.administration #users{
    border: 1px blue solid;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: middle;
}

.administration #users button{
    width: 100px;
    height: 30px;
}
.administration #users .user-list{
    border: 1px red solid;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.administration #users .user-list .user-name{
    color: brown;
    font-size: 12pt;
    display: block;
    float: left;
    width: 300px;
    padding-left: 20px;
    margin-top: 5px;
}
.administration #users .user-list #invisible{
    width: 150px;
    float: left;
}
.administration #users .user-list .role-list{
    width: 150px;
    float: left;
    display: block;
    margin-top: 5px;
}
.administration #users .user-list .role-bnt{
    width: 50px;
}