body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
        //display: block;
        //float: left;
}


#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
        //width: 200px;
        //float: left;
        display: inline-block;
}

#entry
{
        //padding: 10px 20px;
        float: right;
        //width: 200px;
        display: inline-block;
        background:white url(bg.gif);// repeat-x left top;
        //background: aqua;
}

#entry ul
{
	padding:6px 10px 5px 10px;
	margin:0px;
}

#entry ul li
{
	display: inline;
}

#entry ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#entry ul li a:hover, #entry ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.button 
{ 
        position:relative;
        left: 318px;
        padding: 12px 20px;
        background: #474665;
        font-size: 14px;
        font-weight: bold;
        color: #CBC9C9;
        text-align: center;
        cursor: pointer;
        border: #2054F0;
        border-radius: 7px;
        font-family: Tahoma,Arial,sans-serif;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        background: 
        -moz-linear-gradient(0% 100% 90deg, #474665, #696892);
        background: 
        -webkit-gradient(linear, 0% 0%, 0% 100%, from(#696892E), to(#474665));
}

#logout
{
        position:relative;
        left: 430px;
        top:2px;
        padding: 12px 20px;
        background: #474665;
        font-size: 14px;
        font-weight: bold;
        color: #CBC9C9;
        text-align: center;
        cursor: pointer;
        border: #2054F0;
        border-radius: 7px;
        font-family: Tahoma,Arial,sans-serif;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        background: 
        -moz-linear-gradient(0% 100% 90deg, #474665, #696892);
        background: 
        -webkit-gradient(linear, 0% 0%, 0% 100%, from(#696892E), to(#474665));
}

#logout
{
        text-decoration: none;
}

#profile_button
{
        position:relative;
        left: 300px;
        padding: 12px 20px;
        background: #474665;
        font-size: 14px;
        font-weight: bold;
        color: #CBC9C9;
        text-align: center;
        cursor: pointer;
        border: #2054F0;
        border-radius: 7px;
        font-family: Tahoma,Arial,sans-serif;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        background: 
        -moz-linear-gradient(0% 100% 90deg, #474665, #696892);
        background: 
        -webkit-gradient(linear, 0% 0%, 0% 100%, from(#696892E), to(#474665));
}
        
#reg_button
{
        top: 5px;
}

#login_button
{
        top:5px;
}

.singer_page
{
        width:998px;    
        display:block;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_left_block
{
        float: left;
        width: 500px;
        width: 695px;
        margin: 10px;  
}

.singer_poster
{
        width:240px;
        height: 339px;
        margin-left:10px;
        margin-top: 10px;
        float: left;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
        cursor: pointer;
}

.singer_poster_image
{
         max-width: 240px; 
}
        
.singer_poster_upload
{
        position:relative;
        display:none; 
        height:30px; 
        width:auto; 
        background:#fffed2;
        border:1px solid #838231;
        bottom: 30px;
        cursor: pointer;
}
       
.name_poster
{
        width: 398px;
        height: 28px;
        background-color: azure;
        text-align: center;
        line-height: 2.5em;
}
         
.singer_name
{
	float:left;
	margin-left:14px;
        margin-top: 10px;
	width:400px;
	height:30px; 
        text-align: center;
        line-height: 2.5em;
}
        
.singer_style
{
	float:left;
	margin-left: 30px;
	margin-top: 35px;
	width:400px;
	height:272px;
	border: 1px solid #264409;
        line-height: 2.5em;
}
        
.singer_style ul
{
        list-style-type: square;
        float: left;
        padding-left: 20px;
        color: #D7314A;
}

.style_singer
{
        color:red;
        font-size: 200%;
        top:5px;
}

.singer_description
{
        width:673px;
        height: 240px;
        float: left;
        margin:35px 10px 30px 10px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.description_singer
{
        width: 670px;
        height: 238px;
        font-size: 14px;
        font-weight: bold;
        color:#D7314A;
}


.singer_site
{
        float:left;
        width:240px;
        height:30px;
        margin: 10px 0 20px 10px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.site_singer
{
        float:left;
        width:238px;
        height:28px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_right_block
{
        width:250px;
        margin-bottom: 10px;
        margin-right:10px;
        margin-top: 10px;
        padding:5px 8px 5px 8px;
        float: right;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

textarea 
{
        resize: none;
}

.singer_video
{
        width:250px;
        height: 40px;
        margin-right:10px;
        margin-bottom:20px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_video a
{
        text-decoration: none;
}
.q1
{
        width:250px;
        height: 160px;
        margin-right:10px;
        margin-bottom:5px;

        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.q2
{
        width:250px;
        height: 160px;
        margin-right:10px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_album
{
        width:250px;
        height: 40px;
        margin-right:20px;
        margin-bottom:20px;
        margin-top:15px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_album a
{
        text-decoration: none;
}

.q11
{
        width:250px;
        height: 168px;
        margin-right:10px;
        margin-bottom:5px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.q22
{
        width:250px;
        height: 168px;
        margin-right:10px;
        margin-bottom:10px;
        border: 1px solid #264409;
        text-align: center;
        ine-height: 2.5em;
}

.singer_repertyar
{
        width:250px;
        height: 40px;
        margin-right:10px;
        margin-bottom:20px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_repertyar a
{
        text-decoration: none;
}

.singer_song1
{
        width:250px;
        height: 40px;
        margin-right:10px;
        margin-bottom:5px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 3em;
}

.singer_song2
{
        width:250px;
        height: 40px;
        margin-right:10px;
        margin-bottom:5px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 3em;
}

.singer_song3
{
        width:250px;
        height: 40px;
        margin-right:10px;
        margin-bottom:5px;
        text-align: center;
        line-height: 3em;
        border: 1px solid #264409;
}
.analitic-content-site{
        width: 998px;
        height: 540px;
        border: 1px solid #8a1f11;
}
.analitic-contet-left{
        width: 231px;
        height: 533px;
        border: 1px solid #8a1f11;
    
}
.analitic-navigator{
        width: 766px;
        height: 40px;
        float: left;
        margin-left: 232px;
        margin-top: -539px;
}
.analitic-navigator-search{
        border: none;
        outline: none;
        -webkit-appearance: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: middle;
        width: 350px;
        height: 40px;
        margin-left: 7px;
        padding: 0px 0px 0px 28px;
        line-height: 36px;
        background: linear-gradient(to top, #E5E2E2, #DFDBDB);
        font-family: Tahoma,sans-serif;
        font-size: 16px;
        color: #6E7074;
        text-shadow: 0 1px 0 #FFF;
        border-radius: 4px;
}

.analitic-sorting{
        width: 249px;
        float: right;
        margin-top: -538px;
        
}

.analitic-sorting-name{
        width: 121px;
        height: 40px;
        text-align: center;
        margin-top: -1px;
        border-right: 1px solid #474665;
}
#analitic_sorting_label{
          position: relative;
          top: -2px;
          bottom: 5px;
          height: 34px;
          float:right;
          text-transform: uppercase;
          width: 117px;
          padding: 4px;
          -moz-border-radius: 4px;
          background: #474665;
          color: #CBC9C9;
          border: none;
          outline: none;
          display: inline-block;
          -moz-appearance: none;
          cursor: pointer;
}
#analitic_sorting_label input{
          position: relative;
          top: -2px;
          bottom: 5px;
          height: 50px;
          text-transform: uppercase;
          width: 108px;
          padding: 4px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          background: #474665;
          color: #CBC9C9;
          border: none;
          outline: none;
          display: inline-block;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
}
.analitic-content{
            height: 465px;
            width: 750px;
            margin-left: 240px;
            margin-top: -473px;
            border: 1px solid #8a1f11;
            float: left;
    
}
.analitic-content-description{
            width: 605px;
            height: 39px;
            margin-top: 20px;
            margin-left: 10px;
            margin-bottom: -15px;
            border: 1px solid ;
}
.analitic-singer{
            width: 120px;
            height:38px;
            margin-top: -1px;
            margin-left: -1px;
            border: 1px solid;
}
.analitic-singer-name{
            float: left;
            margin-left: 0px;
            margin-top: 0px;
            width: 118px;
            height: 36px;
            text-align: center;
            line-height: 2.5em;
}
.analitic-style{
           width: 120px;
           height:38px;
           margin-top: -40px;
           margin-left: 121px;
           border: 1px solid;
}
.analitic-singer-style{
           float: left;
           margin-left: 0px;
           margin-top: 0px;
           width: 118px;
           height: 36px;
           text-align: center;
           line-height: 2.5em;
}
.analitic-jut{
           width: 120px;
           height:38px;
           margin-top: -40px;
           margin-left: 242px;
           border: 1px solid;
}
.analitic-singer-jut{
             float: left;
             margin-left: 0px;
             margin-top: 0px;
             width: 118px;
             height: 36px;
             text-align: center;
             line-height: 2.5em;
}
.analitic-visitors{
            width: 120px;
            height:38px;
            margin-top: -40px;
            margin-left: 363px;
            border: 1px solid;
}
.analitic-singer-visitors{
             float: left;
             margin-left: 0px;
             margin-top: 0px;
             width: 118px;
             height: 36px;
             text-align: center;
             line-height: 2.5em;
}
.analitic-check{
             width: 120px;
             height:38px;
             margin-top: -40px;
             margin-left: 484px;
             border: 1px solid;
}
.analitic-singer-check{
             float: left;
             margin-left: 0px;
             margin-top: 0px;
             width: 118px;
             height: 36px;
             text-align: center;
             line-height: 2.5em;  
}
.analitic-content-button{
            width: 90px;
            height: 39px;
            float:left;
            margin-left: 620px;
            margin-top: -42px;

}

.analitic_filters{
            width: 229px;
            height: 200px;
            border: 1px solid #8a1f11;
}
.analitic-calendar{
            width: 229px;
            height: 287px;
            border: 1px solid #8a1f11;
}

.analitic-contet-left a{
            padding-left: 50px;
            line-height: 3.5em;  
            color: red;
            text-decoration: none;
}
.analitic-pagination-link{
            height: 25px;
            width: 280px;
            margin-top: 235px;
            font-size: 18px;
            font-weight: 700;
            float: right;
}
.analitic-pagination-link li{
            text-align: center;
            padding: 10px 10px;
            display: inline;
            line-height: 10px;
}
.analitic-pagination-link a{
            text-decoration: none;
            color: #FF8080;
}
.analitic-pagination-link a:hover{
            text-decoration: underline;
}
