body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
        //display: block;
        //float: left;
}


#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
        //width: 200px;
        //float: left;
        display: inline-block;
}

#entry
{
        //padding: 10px 20px;
        float: right;
        //width: 200px;
        display: inline-block;
        background:white url(bg.gif);// repeat-x left top;
        //background: aqua;
}

#entry ul
{
	padding:6px 10px 5px 10px;
	margin:0px;
}

#entry ul li
{
	display: inline;
}

#entry ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#entry ul li a:hover, #entry ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.button 
{ 
        position:relative;
        left: 318px;
        padding: 12px 20px;
        background: #474665;
        font-size: 14px;
        font-weight: bold;
        color: #CBC9C9;
        text-align: center;
        cursor: pointer;
        border: #2054F0;
        border-radius: 7px;
        font-family: Tahoma,Arial,sans-serif;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        background: 
        -moz-linear-gradient(0% 100% 90deg, #474665, #696892);
        background: 
        -webkit-gradient(linear, 0% 0%, 0% 100%, from(#696892E), to(#474665));
}

#logout
{
        position:relative;
        left: 430px;
        top:2px;
        padding: 12px 20px;
        background: #474665;
        font-size: 14px;
        font-weight: bold;
        color: #CBC9C9;
        text-align: center;
        cursor: pointer;
        border: #2054F0;
        border-radius: 7px;
        font-family: Tahoma,Arial,sans-serif;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        background: 
        -moz-linear-gradient(0% 100% 90deg, #474665, #696892);
        background: 
        -webkit-gradient(linear, 0% 0%, 0% 100%, from(#696892E), to(#474665));
}

#logout
{
        text-decoration: none;
}

#profile_button
{
        position:relative;
        left: 300px;
        padding: 12px 20px;
        background: #474665;
        font-size: 14px;
        font-weight: bold;
        color: #CBC9C9;
        text-align: center;
        cursor: pointer;
        border: #2054F0;
        border-radius: 7px;
        font-family: Tahoma,Arial,sans-serif;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        background: 
        -moz-linear-gradient(0% 100% 90deg, #474665, #696892);
        background: 
        -webkit-gradient(linear, 0% 0%, 0% 100%, from(#696892E), to(#474665));
}
        
#reg_button
{
        top: 5px;
}

#login_button
{
        top:5px;
}

.singer_page
{
        //width:998px;    
        //display:block;
        //border: 1px solid #264409;
        //text-align: center;
        //line-height: 2.5em;
}

.singer_left_block
{
        float: left;
        width: 500px;
        width: 695px;
        margin: 10px;  
}

.singer_poster
{
        position:relative;
        width:240px;
        height: 339px;
        margin-left:10px;
        margin-top: 10px;
        float: left;
        border: 1px solid #264409;
        cursor: pointer;
        text-align: center;
}

.singer_poster img
{
        height:auto;
        max-width: 100%;
}
        
.singer_poster_upload
{
        position:absolute;
        display:none; 
        height:30px; 
        width: 99%;
        background:#fffed2;
        border: 1px solid #838231;
        bottom: 0px;
        cursor: pointer;
}
       
.name_poster
{
        width: 398px;
        height: 28px;
        background-color: azure;
        text-align: center;
        line-height: 2.5em;
}
         
.singer_name
{
	float:left;
	margin-left:14px;
        margin-top: 10px;
	width:400px;
	height:30px; 
        text-align: center;
        line-height: 2.5em;
}
        
.singer_style
{
	float:left;
	margin-left: 30px;
	margin-top: 35px;
	width:400px;
	height:272px;
	border: 1px solid #264409;
        overflow-y: scroll;
        //line-height: 2.5em;
}

.singer_style p
{
        text-align: center;
}

.style_singer
{
        color:red;
        font-size: 200%;
        top:5px;
}

.singer_description
{
        width:673px;
        height: 240px;
        float: left;
        margin:35px 10px 30px 10px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.description_singer
{
        width: 670px;
        height: 238px;
        font-size: 14px;
        font-weight: bold;
        color:#D7314A;
}


.singer_site
{
        float:left;
        width:240px;
        height:30px;
        margin: 10px 0 20px 10px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.site_singer
{
        float:left;
        width:238px;
        height:28px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_right_block
{
        width:250px;
        margin-bottom: 10px;
        margin-right:10px;
        margin-top: 10px;
        padding:5px 8px 5px 8px;
        float: right;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

textarea 
{
        resize: none;
}

.singer_video
{
        width:250px;
        height: 40px;
        margin-right:10px;
        margin-bottom:20px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_video a
{
        text-decoration: none;
}
.q1
{
        width:250px;
        height: 160px;
        margin-right:10px;
        margin-bottom:5px;

        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.q2
{
        width:250px;
        height: 160px;
        margin-right:10px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_album
{
        width:250px;
        height: 40px;
        margin-right:20px;
        margin-bottom:20px;
        margin-top:15px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_album a
{
        text-decoration: none;
}

.q11
{
        width:250px;
        height: 168px;
        margin-right:10px;
        margin-bottom:5px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.q22
{
        width:250px;
        height: 168px;
        margin-right:10px;
        margin-bottom:10px;
        border: 1px solid #264409;
        text-align: center;
        ine-height: 2.5em;
}

.singer_repertyar
{
        width:250px;
        height: 40px;
        margin-right:10px;
        margin-bottom:20px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 2.5em;
}

.singer_repertyar a
{
        text-decoration: none;
}

.singer_song1
{
        width:250px;
        height: 40px;
        margin-right:10px;
        margin-bottom:5px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 3em;
}

.singer_song2
{
        width:250px;
        height: 40px;
        margin-right:10px;
        margin-bottom:5px;
        border: 1px solid #264409;
        text-align: center;
        line-height: 3em;
}
.singer_song3{
        width:250px;
        height: 40px;
        margin-right:10px;
        margin-bottom:5px;
        text-align: center;
        line-height: 3em;
        border: 1px solid #264409;
}
.analitic-content-site{
        width: 998px;
        height: 600px;
        border: 1px solid #8a1f11;
}
.analitic-left-block{
        width: 255px;
        height: 528px;
        float: left;
        border: 1px solid #8a1f11;
}
.analitic_filters{
        width: 229px;
        height: 200px;
}
.analitic-reports{
        width: 254px;
        height: 55px;
        border: 1px solid #8a1f11;
        text-align: center;  
}
.analitic-reports a{
        line-height: 3.5em;  
        color: red;
        line-height: 3.9em;
        text-decoration: none;
}

.analitic-top{
        width: 741px;
        height: 40px;
        float:right;
        border: 1px solid #8a1f11;
}
.analitic-navigator{
        width: 450px;
        height: 20px;
        height: 40px;
        float: left;  
}
.analitic-navigator-search{
        border: none;
        outline: none;
        -webkit-appearance: none;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: middle;
        width: 443px;
        height: 40px;
        margin-left: 0px;
        padding: 0px 0px 0px 28px;
        line-height: 36px;
        background: linear-gradient(to top, #E5E2E2, #DFDBDB);
        font-family: Tahoma,sans-serif;
        font-size: 16px;
        color: #6E7074;
        text-shadow: 0 1px 0 #FFF;
        border-radius: 4px;
}
.analitic-sorting{
        width: 170px;
        height: 38px;
        float: right;
        border: 1px solid #298dcd;
        text-align: center;
        line-height: 2.7em;
        color: #474665;
}
#analitic_sorting_label{
        position: relative;
        top: -2px;
        bottom: 5px;
        height: 38px;
        text-transform: uppercase;
        margin-top: 2px;
        width: 95px;
        line-height: 1.5em;
        float: right;
        color: #474665;
        border: none;
        outline: none;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
}
.analitic-content{
        width: 725px;
        height: 488px;
        float: right;
        margin:-489px 10px 10px 10px;
        border: 1px solid #8a1f11;
}
.analitic-content-description{
        width: 697px;
        height: 38px;
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: -15px;
        border: 1px solid ;
}
.analitic-singer-name{
        float: left;
        margin-left: 0px;
        margin-top: 0px;
        width: 118px;
        height: 39px;
        border-right: 1px solid;
        text-align: center;
        line-height: 2.5em;
}
.analitic-style{
        width: 120px;
        height:39px;
        float: left;
        border-right: 1px solid;
        text-align: center;
        line-height: 2.5em;
}
.analitic-jut{
        width: 120px;
        height:39px;
        float: left;
        border-right: 1px solid;
        text-align: center;
        line-height: 2.5em;
}
.analitic-visitors{
        width: 120px;
        height:39px;
        float: left;
        border-right: 1px solid;
        text-align: center;
        line-height: 2.9em;
}
.analitic-check{
        width: 120px;
        height:39px;
        float:left;
        text-align: center;
        line-height: 2.6em;
}
.analitic-content-button{
        width: 90px;
        height: 40px;
        float:right;
}
.analitic-pagination-link{
        height: 25px;
        width: 280px;
        margin:255px -100px 0 -180px;
        font-size: 18px;
        font-weight: 700;
        float: right;
}
.analitic-pagination-link li{
       text-align: center;
       padding: 10px 10px;
       display: inline;
       line-height: 10px;
}
.analitic-pagination-link a{
        text-decoration: none;
        color: #FF8080;
}
.analitic-pagination-link a:hover{
        text-decoration: underline;
        color: #C6D880;
}