/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 вер. 2014, 15:56:52
    Author     : Тарас
*/
* {
    margin: 0;
    padding: 0;
}
html {display: block;}
img {border: none;}
.header {
    width: 1000px;
    margin: auto;
    height: 150px;
    background-image: url(/images/header-menu.jpg) ;
}
.logo {
    width: 40%;
    float: left;
    height: 130px;
    background-color:#ff0;
    margin: 10px 20px 10px 20px;
}
.login-registration {
    line-height: 40px;
    width: 100px;
    float: right;
    background-color: greenyellow;
    border: 1px solid blue;
    text-align: center;
}
.tab-menu {
    width: 300px;
    height: 30px;
    float: right;
  
}
.tab-menu ul {
    
}
.tab-menu li{
    display: inline-block;
}
.tab-menu li:hover {
    background-color: red;
}
.tab-menu a{
    text-decoration:none;
    color:grey;
    font-weight:900;
    font-size: 14px;
    border: 5px double #298dcd;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
#content { 
    width: 1000px;
    margin: auto;
    display: inline-block;
}
.filters {
    width: 250px;
    float: left;
    background-color: #FF5050;
}
.navigator {
    width: 750px;
    height:50px;
    float:right;
    background-color: #009;
}
.navigator-button {
    margin: 5px 0 0 10px; 
    float:left;
}
.navigator-button li{
    display: inline;
}
.navigator-search {
    
    height: 30px;
    margin: 5px 0 0 70px;
    float:right;
}
.form-search {
  display: inline-block;
  background: -moz-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
  background: -ms-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
  background: -o-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
  background: -webkit-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
  border-radius: 5px;
  padding: 4px;
}

.form-search input {
  width: 250px;
  height: 32px;
  line-height: 32px;
  font: 13px Helvetica, Arial, sans-serif; 
  color:#6E7074;
  text-shadow: 0 1px 0 #FFF;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;  
  padding: 0 30px 0 30px; 
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -moz-linear-gradient(#BCBCBC, #EBEBEB);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -ms-linear-gradient(#BCBCBC, #EBEBEB);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -o-linear-gradient(#BCBCBC, #EBEBEB);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -webkit-linear-gradient(#BCBCBC, #EBEBEB); 
  background-repeat: no-repeat; 
 
  border: 1px solid #747474;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF; 
}

.form-search input:focus {
  width: 250px;
  box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
  color: #25464D;
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -moz-linear-gradient(#9CC2CA, #DFECEF);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -ms-linear-gradient(#9CC2CA, #DFECEF);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -o-linear-gradient(#9CC2CA, #DFECEF);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -webkit-linear-gradient(#9CC2CA, #DFECEF);
}
.events {
    width: 750px;
    //padding: 10px;
    float: left;
   // display: block;
    background-color: #60BF60;
}
.filters-label {
    line-height: 30px;
    margin-top: 20px;
    background-color: #C9E0ED;
    text-align: center;
}
         /*   .filter-country {
                padding-left: 20px;
                line-height: 30px;
                background-color: #FF3030;
            }
            .filter-city {
                padding-left: 20px;
                line-height: 30px;
                background-color: #FF5050;
            }
            .filter-style {
                padding-left: 20px;
                line-height: 30px;
                background-color: #FF7070;
            }
            .filter-genre {
                padding-left: 20px;
                line-height: 30px;
                background-color: #FFa0a0;
            }*/
.filter-label {
    padding-left: 20px;
    line-height: 30px;
    background-color: #FF5050;
}         
.price-scroll {
    height: 100px;
    background-color:#EBEBEB;
}
.price-scroll h1 {
    padding:5px 20px;
    font: 16px/20px sans-serif;
    color:#b00;
}
.price-scroll .min {
    width: 80px;
    margin-left: 20px;
    font-weight:bold;
    margin-bottom: 15px;
}
form .price-scroll #slider_range_slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    width:210px;
    height: 6px;
    margin: auto;
    background: #FFa0a0;
}
form .price-scroll a.ui-slider-handle.ui-state-default.ui-corner-all {
    border: 1px solid #900;
    width: 9px;
    height: 14px;
    margin: auto;
}
form .price-scroll .ui-state-default,.ui-widget-content.ui-state-default,.ui-widget-header.ui-state-default{
    background: #900;
}
form .ui-widget-content {
    border: none;
    background-color: #FF9090;
}

.calendar {
    height: 210px;
}
.events-sorting {
    width: 687px;
    margin: 20px;
   
}
.events-sorting span{
    color: red;
}
.events-sorting li{
    display: inline-block;
    border: 1px solid #009;
    text-align: center;
    padding: 5px 10px;
}
.events-sorting a{
    text-decoration: none;
}
.event{
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: #514721;
    display: inline-block;
    border: 3px solid #BCBCBC ;
    color: #C9E0ED;
    font-size: 14px ;
    font-style: italic;
    font-weight: 700;
}
.right{
    float: right;
   
}
.event-photo {
    max-width:90px;
    //height: 280px;
    float: left;
}
.event span{
    color: red;
    font-size: 14px;
    font-weight: 700;
}
.event a{
    text-decoration: none;
    color: graytext;
    
}
.event a:hover{
    color: yellow;
}
.knopka01 {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(255,255,255,.2), 0 -1px rgba(0,0,0,.8);
  outline: none;
  border: none;
  border-radius: 100px;
  background: rgb(28,107,114) radial-gradient(150% 100% at 50% 5px, rgba(255,255,255,.2), rgba(0,0,0,0));
  box-shadow: inset rgba(0,0,0,.6) 0 -2px 5px, inset rgba(252,255,255,.7) 0 2px 5px, rgba(0,0,0,.8) 0 2px 5px -1px;
  color: rgb(0,79,86);
  user-select: none;
} 
.knopka01:hover {
  color: rgb(0,59,66);
  cursor: pointer;
}
.knopka01:active {
  padding-bottom: 1px;
  box-shadow:
   inset rgba(0,0,0,1) 0 1px 3px,
   inset rgba(0,0,0,.6) 0 -2px 5px,
   inset rgba(252,255,255,.7) 0 2px 5px,
   0 1px rgba(255,255,255,.08);
  color: rgb(128,207,214);
}

.pagination-link {
    height: 25px;
    width: 280px;
    margin: 20px;
   font-size: 18px;
   font-weight: 700;
    float: right;
   
}
.pagination-link li{
    text-align: center;
    padding: 10px 10px;
    display: inline;
  
    line-height: 10px;
}
.pagination-link a{
    text-decoration: none;
    color: #FF8080;
}
.pagination-link a:hover{
    text-decoration: underline;
}
.footer {
    width: 1000px;
   // height: 50px;
    margin: auto;
    background-color: #ccc;
    color: white;
    //font-size: 25px;
    text-align: left;
}
// віджети
#FilterForm_country {
    width: 100px;  
}
#FilterForm select {
    width: 150px;
    float: right;
    margin: 5px 20px 0 0;
}

.calendar #datepicker-month-year-menu_container.widget-calendar.hasDatepicker select{
   width: auto;
}
.calendar .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
    height: 34px;
}
.calendar .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
    background: none;
    width: 250px;
    margin: -2px 0 0 -2px;
    border-bottom: 4px #c00 dotted;
}
.calendar table.ui-datepicker-calendar {
    background: #fff;
}
.calendar table.ui-datepicker-calendar thead{
    background: #ff0;
    color: #FF7070;
}

.calendar table.ui-datepicker-calendar a.ui-state-default.ui-state-highlight.ui-state-active{
    border: 1px solid #a00;
    font-weight: 700;
}
.calendar table.ui-datepicker-calendar a.ui-state-default.ui-state-highlight{
    font-weight: 700;
    border: 1px solid #aa0;
}
.calendar table.ui-datepicker-calendar a.ui-state-default.ui-state-active{
    border: 1px solid #a00;
}
.events-sorting span {
    width:60%;
    float: left;
    padding: 5px;
}
.events-sorting nav {
    border: 1px #000 solid;
    padding: 5px;
}
.events-sorting nav a{
    padding: 6px 30px;
    border-left: 1px solid #000;
}

.user_reg_buttons h3{
    color: white;
}