/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 вер. 2014, 15:56:52
    Author     : Тарас
*/
* {
    margin: 0;
    padding: 0;
}
html {display: block;}
img {border: none;}
.header {
    width: 1000px;
    margin: auto;
    height: 150px;
    background-color: red;
}
.logo {
    width: 40%;
    float: left;
    height: 130px;
    background-color:#ff0;
    margin: 10px 20px 10px 20px;
}
.login-registration {
    line-height: 40px;
    width: 100px;
    float: right;
    background-color: greenyellow;
    border: 1px solid blue;
    text-align: center;
}
.tab-menu {
    width: 300px;
    height: 30px;
    float: right;
  
}
.tab-menu ul {
    
}
.tab-menu li{
    display: inline-block;
}
.tab-menu li:hover {
    background-color: red;
}
.tab-menu a{
    text-decoration:none;
    color:grey;
    font-weight:900;
    font-size: 14px;
    border: 5px double #298dcd;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
#content { 
    width: 1000px;
    margin: auto;
    display: inline-block;
}
.filters {
    width: 250px;
    float: left;
    background-color: #298dcd;
    //display: inline-block;
}
.navigator {
    width: 750px;
    height:50px;
    float:right;
    background-color: #009;
}
.navigator-button {
    background-color: #cd0a0a;
    margin: 5px 0 0 10px; 
    float:left;
}
.navigator-button li{
    text-align: center;
    padding: 10px 20px;
    display: inline;
    border: 1px solid #ff0;
    line-height: 40px;
}
.navigator-search {
    background-color:#000;
    height: 30px;
    width: 350px;
    margin: 10px 0 0 70px;
    float:left;
}
.events {
    width: 750px;
    //padding: 10px;
    float: left;
   // display: block;
    background-color: #60BF60;
}
.filters-label {
    line-height: 30px;
    margin-top: 20px;
    background-color: #C9E0ED;
    text-align: center;
}
.filter-country {
    height: 200px;
    background-color: #FF8080;
}
.price-scroll {
    height: 100px;
    background-color: #060;
}
.calendar {
    height: 100px;
    background-color: #555;
}
.events-sorting {
    height: 25px;
    width: 687px;
    margin: 20px;
    background-color: #298;
}
.event{
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: #514721;
    display: inline-block;
}
.event span{
    color: red;
}
.event a:hover{
    color: yellow;
}
.pagination-link {
    height: 25px;
    width: 280px;
    margin: 20px;
   font-size: 18px;
   font-weight: 700px;
    float: right;
   
}
.pagination-link li{
    text-align: center;
    padding: 10px 10px;
    display: inline;
  
    line-height: 10px;
}
.pagination-link a{
    text-decoration: none;
    color: #FF8080;
}
.pagination-link a:hover{
    text-decoration: underline;
}
.footer {
    width: 1000px;
    height: 50px;
    margin: auto;
    background-color: #ccc;
    color: white;
    font-size: 25px;
    text-align: center;
}