/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 вер. 2014, 15:56:52
    Author     : Тарас
*/
* {
    margin: 0;
    padding: 0;
}
html {display: block;}
img {border: none;}
.header {
    width: 1000px;
    margin: auto;
    height: 150px;
    background-image: url(/images/header-menu.jpg) ;
}
.logo {
    width: 40%;
    float: left;
    height: 130px;
    background-color:#ff0;
    margin: 10px 20px 10px 20px;
}
.login-registration {
    line-height: 40px;
    width: 100px;
    float: right;
    background-color: greenyellow;
    border: 1px solid blue;
    text-align: center;
}
.tab-menu {
    width: 300px;
    height: 30px;
    float: right;
  
}
.tab-menu ul {
    
}
.tab-menu li{
    display: inline-block;
}
.tab-menu li:hover {
    background-color: red;
}
.tab-menu a{
    text-decoration:none;
    color:grey;
    font-weight:900;
    font-size: 14px;
    border: 5px double #298dcd;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
#content { 
    width: 1000px;
    margin: auto;
    display: inline-block;
}
.filters {
    width: 250px;
    float: left;
    background-color: #298dcd;
    //display: inline-block;
}
.navigator {
    width: 750px;
    height:50px;
    float:right;
    background-color: #009;
}
.navigator-button {
    margin: 5px 0 0 10px; 
    float:left;
}
.navigator-button li{
    display: inline;
}
.navigator-search {
    
    height: 30px;
    margin: 5px 0 0 70px;
    float:right;
}
.form-search {
  display: inline-block;
  background: -moz-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
  background: -ms-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
  background: -o-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
  background: -webkit-linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
  border-radius: 5px;
  padding: 4px;
}

.form-search input {
  width: 250px;
  height: 32px;
  line-height: 32px;
  font: 13px Helvetica, Arial, sans-serif; 
  color:#6E7074;
  text-shadow: 0 1px 0 #FFF;
  -moz-transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;  
  padding: 0 30px 0 6px; 
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -moz-linear-gradient(#BCBCBC, #EBEBEB);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -ms-linear-gradient(#BCBCBC, #EBEBEB);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -o-linear-gradient(#BCBCBC, #EBEBEB);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -webkit-linear-gradient(#BCBCBC, #EBEBEB); 
  background-repeat: no-repeat; 
  background-position: 100% 50%, 100% 100%;
  border: 1px solid #747474;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF; 
}

.form-search input:focus {
  width: 250px;
  box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
  color: #25464D;
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -moz-linear-gradient(#9CC2CA, #DFECEF);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -ms-linear-gradient(#9CC2CA, #DFECEF);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -o-linear-gradient(#9CC2CA, #DFECEF);
  background-image: url("http://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"), -webkit-linear-gradient(#9CC2CA, #DFECEF);
}
.events {
    width: 750px;
    //padding: 10px;
    float: left;
   // display: block;
    background-color: #60BF60;
}
.filters-label {
    line-height: 30px;
    margin-top: 20px;
    background-color: #C9E0ED;
    text-align: center;
}
.filter-country {
    padding-left: 20px;
    line-height: 30px;
    background-color: #FF3030;
}
.filter-sity {
    padding-left: 20px;
    line-height: 30px;
    background-color: #FF5050;
}
.filter-style {
    padding-left: 20px;
    line-height: 30px;
    background-color: #FF7070;
}
.filter-genre {
    padding-left: 20px;
    line-height: 30px;
    background-color: #FFa0a0;
}
.price-scroll {
    height: 100px;
    background-color: #090;
}
.price-scroll h1 {
    padding:5px 20px;
    font: 16px/20px sans-serif;
    color: #ccc;
}
.price-scroll .min {
    width: 70px;
    margin-left: 20px;
    font-weight:bold;
    margin-bottom: 15px;
}
.calendar {
    height: 210px;
    background-color: #555;
}
.calendar #slider_range_slider {
    
}
.events-sorting {
    height: 25px;
    width: 687px;
    margin: 20px;
   
}
.events-sorting span{
    color: red;
}
.events-sorting li{
    display: inline-block;
    border: 1px solid #009;
    text-align: center;
    padding: 5px 10px;
}
.events-sorting a{
    text-decoration: none;
}
.event{
    width: 200px;
    height: 300px;
    margin: 20px;
    background-color: #514721;
    display: inline-block;
    border: 3px solid #BCBCBC ;
    color: #C9E0ED;
    font-size: 14px ;
    font-style: italic;
    font-weight: 700;
}
.right{
    float: right;
   
}
.event-photo {
    width: 90px;
    height: 280px;
    float: left;
}
.event span{
    color: red;
    font-size: 14px;
    font-weight: 700;
}
.event a{
    text-decoration: none;
    color: graytext;
    
}
.event a:hover{
    color: yellow;
}
.button{
  
  
}

.pagination-link {
    height: 25px;
    width: 280px;
    margin: 20px;
   font-size: 18px;
   font-weight: 700;
    float: right;
   
}
.pagination-link li{
    text-align: center;
    padding: 10px 10px;
    display: inline;
  
    line-height: 10px;
}
.pagination-link a{
    text-decoration: none;
    color: #FF8080;
}
.pagination-link a:hover{
    text-decoration: underline;
}
.footer {
    width: 1000px;
    height: 50px;
    margin: auto;
    background-color: #ccc;
    color: white;
    font-size: 25px;
    text-align: center;
}
// віджети
.calendar .ui-widget-content {
    border: 2px solid #f00;
    color: #ff5454;
}