/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 вер. 2014, 15:56:52
    Author     : Тарас
*/
* {
    margin: 0;
    padding: 0;
}
html {display: block;}
img {border: none;}
.header {
    width: 1000px;
    margin: auto;
    height: 150px;
    background-image: url(/images/header-menu.jpg) ;
}
.logo {
    width: 40%;
    float: left;
    height: 130px;
    background-color:#ff0;
    margin: 10px 20px 10px 20px;
}
.login-registration {
    line-height: 40px;
    width: 100px;
    float: right;
    background-color: greenyellow;
    border: 1px solid blue;
    text-align: center;
}
.tab-menu {
    width: 300px;
    height: 30px;
    float: right;
  
}
.tab-menu ul {
    
}
.tab-menu li{
    display: inline-block;
}
.tab-menu li:hover {
    background-color: red;
}
.tab-menu a{
    text-decoration:none;
    color:grey;
    font-weight:900;
    font-size: 14px;
    border: 5px double #298dcd;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
#content { 
    width: 1000px;
    margin: auto;
    display: inline-block;
}
.filters {
    width: 250px;
    float: left;
    background-color: #FF5050;
}
.navigator {
    width: 750px;
    height:50px;
    float:right;
    background-color: #009;
}
.navigator-button {
    margin: 5px 0 0 10px; 
    float:left;
}
.navigator-button li{
    display: inline;
}
.navigator-search {
    
    height: 30px;
    margin: 5px 0 0 64px;
    float:right;
}
.form-search {
    width: 350px; /* Ширина поля с кнопкой */
    border: none; /* Убираем рамку */
    min-height: 36px; /* Минимальная высота */
    min-width: 300px;
    overflow: hidden;
}
.form-search> input[type="submit"] {
    vertical-align: middle; /* Выравнивание по середине */
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background: none;
    background-image: url(/images/search.png);
    position: relative;
    cursor: pointer;
    margin: -5px 0px 0px -3px;
    top:-30px;
 }
.form-search> input[type="search"] {
    border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari*/
    -moz-box-sizing: border-box;  
    box-sizing: border-box; 
    vertical-align: middle; /* Выравнивание по середине */
    width: 350px;
    height: 39px;
    padding: 0px 0px 0px 28px;
    line-height: 36px;
    //background: #EEE;  
    background: linear-gradient(to top, #E5E2E2, #DFDBDB);
    font-family: Tahoma,sans-serif;
    font-size: 16px;
    color:#6E7074;
    text-shadow: 0 1px 0 #FFF;
    border-radius: 4px;
}
  /* Placeholder
  -----------------------------------------------------*/
    .form-search input::-webkit-input-placeholder {
        font-family: Tahoma,sans-serif;
       margin:0px -30px;
       font-size: 16px;
       color:#6E7074;
       font-weight: normal;
    }
     
    .form-search input:-moz-placeholder {
        font-family: Tahoma,sans-serif;
        margin:0px -30px;
        font-size: 16px;
        color:#6E7074;
        font-weight: normal;
    }
     
    .form-search input:-ms-input-placeholder {
        font-family: Tahoma,sans-serif;
        margin:0px -30px;
        font-size: 16px;
        color:#6E7074;
        font-weight: normal;
    } 
.events {
    width: 750px;
    //padding: 10px;
    float: left;
   // display: block;
    background-color: #60BF60;
}
.filters-label {
    line-height: 30px;
    margin-top: 20px;
    background-color: #C9E0ED;
    text-align: center;
}
         /*   .filter-country {
                padding-left: 20px;
                line-height: 30px;
                background-color: #FF3030;
            }
            .filter-city {
                padding-left: 20px;
                line-height: 30px;
                background-color: #FF5050;
            }
            .filter-style {
                padding-left: 20px;
                line-height: 30px;
                background-color: #FF7070;
            }
            .filter-genre {
                padding-left: 20px;
                line-height: 30px;
                background-color: #FFa0a0;
            }*/
.filter-label {
    padding-left: 20px;
    line-height: 30px;
    background-color: #FF5050;
}         
.price-scroll {
    height: 100px;
    background-color:#EBEBEB;
}
.price-scroll h1 {
    padding:5px 20px;
    font: 16px/20px sans-serif;
    color:#b00;
}
.price-scroll input{
    margin: 15px 20px;
}
.price-scroll .min {
    width: 78px;
    font-weight:bold;
    margin-bottom: 15px;
}
.price-scroll .max {
    width: 80px;
    font-weight:bold;
    margin-bottom: 15px;
}
form .price-scroll #slider_range_slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    width:210px;
    height: 6px;
    margin: auto;
    background: #FFa0a0;
}
form .price-scroll a.ui-slider-handle.ui-state-default.ui-corner-all {
    border: 1px solid #900;
    width: 9px;
    height: 14px;
    margin: 0 -6px;
}
form .price-scroll .ui-state-default,.ui-widget-content.ui-state-default,.ui-widget-header.ui-state-default{
    background: #900;
}
form .ui-widget-content {
    border: none;
    background-color: #FF9090;
}

.calendar {
    height: 210px;
}
.events-sorting {
    margin: 20px;
   
}
.events-sorting li{
    display: inline-block;
    border: 1px solid #009;
    text-align: center;
    padding: 5px 10px;
}
.events-sorting a{
    text-decoration: none;
}
.event{
    width: 200px;
    height: 300px;
    margin: 14px;
    background-color: #514721;
    display: inline-block;
    border: 3px solid #BCBCBC ;
    color: #C9E0ED;
    font-size: 14px ;
    font-style: italic;
    font-weight: 700;
}
.right{
    float: right;
   
}
.title {
    width: 200px;
    height: 40px;
    border-bottom: 1px solid #777;
    
    background: window;
    font-size: 14px;
    color: #FF5050;
    text-align: center;
    font-family: Tahoma,Arial,sans-serif;
}
.event-photo {
    width: 110px;
    height: 260px;
    float: left;
    border:1px solid #900;
    
}
.date{
    width: 90px;
    height: 30px;
   margin: 0 0 0 110px;
   border-bottom: 1px solid #900;
     
    background: wheat;
    font-size: 14px;
    color: #CBC9C9;
    text-align: center;
    font-family: Tahoma,Arial,sans-serif;
}
.date a{
    text-decoration: none;
    color: red;
}
.time{
    width: 90px;
    height: 30px;
    margin: 0 0 0 110px;

     border-bottom: 1px solid #900;
     
    background: wheat;
    font-size: 14px;
    color: #CBC9C9;
    text-align: center;
    font-family: Tahoma,Arial,sans-serif;
}
.time a{
    text-decoration: none;
    color: red;
}
.city{
    width: 90px;
    height: 30px;
   margin: 0 0 0 110px;
  border-bottom: 1px solid #900;
     border-bottom: 1px solid #900;
     
    background:wheat;
    font-size: 14px;
    color: #CBC9C9;
    text-align: center;
    font-family: Tahoma,Arial,sans-serif;
}
.city a{
    text-decoration: none;
    color: red;
}
.price{
    width: 90px;
    height: 30px;
    margin: 0 0 0 110px;
     border-bottom: 1px solid #900;
     
    background: wheat;
    font-size: 14px;
    color: #CBC9C9;
    text-align: center;
    font-family: Tahoma,Arial,sans-serif;
}
.price a{
    text-decoration: none;
    color: red;
}
.buy {
     width: 87px;
    height: 30px;
   margin: 103px 0 0 113px;
   text-align: center;
    font-family: Tahoma,Arial,sans-serif;
float: bottom;  
      position: relative;
background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#8F1528, #FE1728, #D7314A);  
box-shadow: inset #EB0012 0 -1px 1px, inset 0 1px 1px #CC1111, #CC223C 0 0 0 1px, #000 0 10px 15px -10px; 
  transition: 0.2s
}
.buy a{
    text-decoration: none;
    font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 1px #cc5500;
  user-select: none;
  outline: none;
  border-radius: 1px;
  background-size: 100% 100%, auto;
  background-position: 50% 50%;
}
.buy:hover {
  background-size: 140% 100%, auto;
}
.buy:active {
  top: 1px;
  color: #ffdead;
  box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, 0 10px 10px -9px #000;
}

.pagination-link {
    height: 25px;
    width: 280px;
    margin: 20px;
   font-size: 18px;
   font-weight: 700;
    float: right;
   
}
.pagination-link li{
    text-align: center;
    padding: 10px 10px;
    display: inline;
  
    line-height: 10px;
}
.pagination-link a{
    text-decoration: none;
    color: #FF8080;
}
.pagination-link a:hover{
    text-decoration: underline;
}
.footer {
    width: 1000px;
   // height: 50px;
    margin: auto;
    background-color: #ccc;
    color: white;
    //font-size: 25px;
    text-align: left;
}
// віджети
#FilterForm_country {
    width: 100px;  
}
#FilterForm select {
    width: 150px;
    float: right;
    margin: 5px 20px 0 0;
}

.calendar #datepicker-month-year-menu_container.widget-calendar.hasDatepicker select{
   width: auto;
}
.calendar .ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
    height: 33px;
}
.calendar .ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
    background: none;
    width: 250px;
    margin: -2px 0 0 -2px;
    border-bottom: 4px #c00 dotted;
}
.calendar table.ui-datepicker-calendar {
    background: #fff;
}
.calendar table.ui-datepicker-calendar a.ui-state-default.ui-state-highlight.ui-state-active{
    border: 1px solid #a00;
    font-weight: 700;
}
.calendar table.ui-datepicker-calendar a.ui-state-default.ui-state-highlight{
    font-weight: 700;
    border: 1px solid #aa0;
}
.calendar table.ui-datepicker-calendar a.ui-state-default.ui-state-active{
    border: 1px solid #a00;
}
.calendar th.ui-datepicker-week-end{
    color: #f00;
}
.calendar .ui-datepicker-week-end a.ui-state-default{      //числа вихідних червоним кольором
    color: #f00;
}
.calendar a.ui-datepicker-next.ui-corner-all{
    height: 34px;
}
.calendar a.ui-datepicker-prev.ui-corner-all{
    height: 34px;
}

.events-sorting span {
    width:330px;
    float: left;
    color: red;
    padding-left: 5px;
    line-height: 30px;
}
.events-sorting .sorting {
    border: 1px #000 solid;
    width: 557px;
    float: left;
    margin-bottom: 15px;
}
.events-sorting .sorting a{
    padding: 8px 22px;
    border-left: 1px solid #000;
    line-height: 30px;
}
.events-sorting .TandL {
    border: 1px #000 solid;
    float: left;
    margin-left: 30px;
    line-height: 30px;
}
.events-sorting .TandL a{
    padding: 7px 24px;
    border-left: 1px #000 solid;
}
.events-sorting .TandL a:first-child{
    border: none;
}




#language_selector {
    position: relative;
    bottom:5px;
    text-transform: uppercase;
    width:115px;
    padding:5px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    //-webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    //-moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
   //box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #474665;
    color:#CBC9C9;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
#language_selector > option:nth-child(1) {
    text-align:left;
}
#language_selector:hover > #language_selector-option {
display: block;
}

#language_label {
        position: relative;
        top:8px;
        left:120px;
        float:right;
}
#language_label:after {
    content:'>';
    font:12px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.user_reg_buttons h3{
    color: white;
}